@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* font-family: 'Raleway', sans-serif;
 */
$menuColor: rgb(17, 24, 39);
* {
    scroll-behavior: smooth;
    h1 {
        text-transform: uppercase;
    }
}

html {
    background-color: #f1f5ff;
    overflow-x: hidden;
}

.react-icons {
    vertical-align: middle;
    width: 2em;
    height: 2em;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.text {
    font-size: 36px;
    line-height: 36pt;
    color: #fdc273;
}
.headText {
    @extend .text;
}

.highlight {
    color: #e31b6d;
}

.home {
    color: #616161;
    line-height: 11pt;
    padding: 70px 0 70px 0;
    position: relative;
}

section {
    height: calc(100vh);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#about {
    height: 100%;
    margin: 100px 0 0 0;
    align-self: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
#contact {
    padding-top: 30px;
    p {
        color: rgb(4, 194, 201);
        font-size: 1.2rem;
    }
}

#tsparticles {
    position: absolute;
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    section {
        padding: 50px 0 100px 0 0;
    }
}

.slideInLeft {
    animation: slide-in-left 1s;
}

.slideInRight {
    animation: slide-in-right 1s;
}

.slideInLeftTilt {
    animation: slide-in-left-tilt 1s;
}
.slideInRightTilt {
    animation: slide-in-right-tilt-down 1s;
}


@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(600px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-in-left-tilt {
    0% {
        opacity: 0;
        transform: translateX(-500px) translateY(-300px) rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes slide-in-right-tilt-down {
    0% {
        opacity: 0;
        transform: translateX(500px) translateY(300px) rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
