html {
  font-family: "Roboto Mono", monospace;
  
}

body {
  all: unset;
}

ul {
  list-style-type: none;
}

.Main {
  min-width: 100vw;
  background-color: rgb(230, 230, 230);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
  width: 0 !important;
}
