$sliderBackgroundColor:rgb(19, 100, 162, 0.3);

.footer {
    position: relative;
    box-sizing: content-box;
    background-color: rgb(17, 24, 39);
    min-width:100%;
    min-height:100vh;
    padding:10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.topFooterBox{
    display:flex;
    justify-content: center;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    flex-wrap: wrap;
}

.slideShow {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    align-content: center;
    flex-wrap:wrap;
    margin: 100px 15px 100px 15px;
    border: 2px solid;
    color: whitesmoke;
    border-radius: 6px;
    border-color: teal;
    background-color: $sliderBackgroundColor;
    box-shadow: 10px 11px 10px #3333;
    font-family: 'Roboto Mono', monospace;
    font-size:12px;
   
}

.fContact {
    display:flex;
    justify-content: center;
    min-width:100%;
    color:black;
    background-color: #f5f5f5;
}