.transformFade {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  $animationDelay: 1;
  @for $i from 1 through 3 {
    .transformFade:nth-of-type(#{$i}) {
      animation-delay: #{0.3+ ($i)/30}s;
    }
  }
}

.item-wrapper {
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.columnItems {
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.items {
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-color: #04c2c9 !important;
  align-items: center;
  padding: 40px;
  max-width: 100px;
  min-width: 100px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  .react-icons {
    width: 4em;
    height: 4em;
  }
}

.skillImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px 0 0 0;
  margin: 20px 0;

  img {
    max-width: 50px;
    max-width: 50px;
  }
}

.profileImg {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 80px 0 0 0;
  img {
    width: 250px;
    height: auto;
    clip-path: polygon(50% -20%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
  p{
    width:70%;
    font-size: 1.3em;
  }
}

.skillBox {
  width: 80vw;
  margin: 0 auto;
  .skillbar {
    margin: 0;
  }
  .skillbar-percent {
    font-size: 18px;
    color: black;
  }
  .skillbar-bar {
    background-color: #04c2c9 !important;
    height: 28px;
  }
  .skillbar-title {
    @extend .skillbar-bar;
    font-size: 11pt;
    text-align: center;
    align-self: center;
    span {
      line-height: 30px;
    }
  }
}

.aboutWrapper {
  align-self: center;
}
.item-flex {
  display: flex;
  flex-direction: row;
  text-align: center;
  p {
    width: 60%;
    font-size: 22px;
  }
}

@media only screen and (max-width: 800px) {
  .item-flex {
    p {
      font-size: 16px;
    }
  }
  .items {
    padding: 15px;
    .react-icons {
      height: 3em;
      width: 3em;
    }
  }
}

@media only screen and (max-width: 500px) {
  .columnItems {
    max-width: 200px;
  }
  .items {
    p {
      font-size: 9px;
    }
    .react-icons {
      height: 2em;
      width: 2em;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
